<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<%= link_to "Create a Deck", new_user_deck_path(@user) %>

<ul>
	<% @user.decks.each do |d| %>
		<li><%= link_to "#{d.name}", user_deck_path(@user, d) %></li>
	<% end %>
</ul>