<h1><%= @deck.name %></h1>
<ul>
	<li><%= link_to "Edit", edit_user_deck_path(@deck.user_id, @deck) %></li>
	<li><%= link_to "Delete", "#", data: {confirm: "Sure?"} %></li>
</ul>

<h3>Cards</h3>
<hr>
<p>(Coming Soon)</p>